<footer class="text-center mt-4">
  <a
    href="https://www.buymeacoffee.com/navaneethashok"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/assets/buymecoffee.png" id="coffee-icon"
  /></a>
  <p>
    Website created by
    <a href="https://navaneeth.dev/" target="_blank" rel="noopener noreferrer"
      >Navaneeth Ashok</a
    >
  </p>
  <p>
    Raw Data provided by
    <a
      href="https://www.reddit.com/user/just_a_dev_here/"
      target="_blank"
      rel="noopener noreferrer"
      >u/just_a_dev_here</a
    >
  </p>
  <p>
    Reddit post that inspired the project
    <a
      href="https://www.reddit.com/r/cscareerquestionsCAD/comments/rbeq6z/salary_sharing_survey_and_results/"
      target="_blank"
      rel="noopener noreferrer"
      >Salary Sharing Survey and Results</a
    >
  </p>
  <p>&copy; Navaneeth Ashok 2021</p>
</footer>
