.banner {
  background-color: #af0000;
  color: azure;
}

h1 {
  margin: 0;
  font-size: 3em;
  line-height: 1.3em;
}

.content {
  min-height: calc(100vh - 230px);
}

.banner-logo {
  height: 100px;
}
